<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Справка</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <script th:src="@{/script.js}" defer></script>
</head>
<body>
<div class="container">
    <div class="header">
        <span>Справка</span>
        <nav>
            <a href="/convert">На главную</a>
        </nav>
    </div>

    <div class="help-content">
        <h2>Как использовать конвертер</h2>
        <p>Этот конвертер позволяет вам преобразовывать числа из одной системы счисления в другую. Поддерживаемые системы счисления: от 2 до 16.</p>

        <h3>Шаги для использования:</h3>
        <ol>
            <li>Введите число в поле "Исходное число".</li>
            <li>Выберите систему счисления для исходного числа в поле "Основание с. сч.". Это может быть от 2 до 16.</li>
            <li>Выберите систему счисления для результата в поле "Основание с. сч. результата".</li>
            <li>Нажмите кнопку "Конвертировать", чтобы преобразовать число.</li>
        </ol>

        <h3>Справка по кнопкам:</h3>
        <ul>
            <li><strong>Цифры (0-9, A-F):</strong> используйте эти кнопки для ввода цифр в числе.</li>
            <li><strong>Разделитель:</strong> кнопка с точкой (.) добавляет десятичный разделитель.</li>
            <li><strong>BS (Backspace):</strong> удаляет последний введенный символ.</li>
            <li><strong>CE (Очистить):</strong> очищает все введенные данные и сбрасывает поля.</li>
        </ul>

        <h3>История Операций:</h3>
        <p>Каждое преобразование сохраняется в истории. Вы можете очистить историю, нажав на кнопку "Очистить историю" на странице истории.</p>
    </div>
</div>
</body>
</html>
