<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>История конверсий</title>
    <link rel="stylesheet" th:href="@{/stylesHistory.css}">
    <script th:src="@{/script.js}" defer></script>
</head>
<body>
<div class="container">
    <div class="header">
        <span>История конверсий</span>
        <nav>
            <a href="/convert">На главную</a>
        </nav>
    </div>

    <div th:text="${count}"> </div>
    <div class="history">
        <table>
            <thead>
            <tr>
                <th>Исходное число</th>
                <th>Основание (p1)</th>
                <th>Результат</th>
                <th>Основание (p2)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${history}">
                <td th:text="${entry.number1}"></td>
                <td th:text="${entry.p1}"></td>
                <td th:text="${entry.number2}"></td>
                <td th:text="${entry.p2}"></td>
            </tr>
            </tbody>
        </table>

        <form action="/history" method="get">
            <button type="submit" class="refresh">Обновить</button>
        </form>

        <form action="/history" method="post" onsubmit="return clearHistory();">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="clear">Очистить историю</button>
        </form>
    </div>
</div>

<script>
    function clearHistory() {
        return confirm("Вы уверены, что хотите очистить историю?");
    }
</script>

</body>
</html>
